﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/API/Help/Index"></a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right" >

              
                <li ><a ng-click="logout()">Log-Out</a></li>

            </ul>
        </div>
    </div>
</div>

<div id="page-wrapper" style="margin-left:0;margin-top:90px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header info">( {{Email}} )   Welcome To Your Profile...       </h1>
                <form role="form" ng-show="viewDetail">
                    <div class="form-group">
                        <label ng-if="FirstName==null">Name: Nodata In DB</label>
                        <label ng-if="FirstName!=null">Name: {{FirstName}}  {{LastName}}</label>
                    </div>

                    <div class="form-group">
                        <label ng-if="PhoneNumber==null">Phone No: Nodata In DB </label>
                        <label ng-if="PhoneNumber!=null">Phone No: {{PhoneNumber}} </label>
                    </div>
                    <a class="btn btn-info" ng-click="Edit()">Edit</a>
                </form>
                <form role="form" name="userForm" novalidate ng-show="update">

                    <div class="form-group">
                        <label>First-Name</label>
                        <input class="form-control" ng-model="FirstName" name="fName" placeholder="First-Name" ng-required="true">
                        <p ng-show="userForm.fName.$invalid && (userForm.fName.$dirty || submitted)" class="help-block danger">Please Enter LastName</p>

                    </div>

                    <div class="form-group">
                        <label>Last Name</label>
                        <input class="form-control" ng-model="LastName" name="lName" placeholder="Last Name" ng-required="true">
                        <p ng-show="userForm.lName.$invalid && (userForm.lName.$dirty || submitted)" class="help-block danger">Please Enter LastName</p>

                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" id="eSalary" ng-model="PhoneNumber" name="phoneNumber" class="form-control" ng-model="number" placeholder="Phone Number" ng-required="true" ng-pattern="/[0-9]/" />
                        <p ng-show="userForm.phoneNumber.$error.pattern && !userForm.phoneNumber.$pristine" class="help-block danger">Please Enter Only a Number</p>
                        <p ng-show="userForm.phoneNumber.$invalid && (userForm.phoneNumber.$dirty || submitted)" class=" help-block danger">Please Enter a Number</p>

                    </div>
                    <a class="btn btn-success" ng-click="updateData()">Update</a>
                </form>
                <p class="success" ng-click="alertMessage()" ng-show="alertShow">{{alert}}</p> 
                <p class="danger" ng-click="alertMessage()" ng-show="alertShowError">{{alert}}</p>   
            </div>
             
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
