﻿.danger {
    color: red;
}

.facebook{
   background-color:#3b5998;
    color:white;
}
.mocrosoft{
   background-color:#1a00ff;
   color:white;
}
.textMargin{
        margin-left: 17%;
        font-size:20px;
}
.rtextMargin{
        margin-left: 30%;
        font-size:20px;
}