﻿
<div id="page-wrapper" style="margin-left:0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header info"> Your are successfully registered please check you mail for email confirm.....</h1>
            </div>
            <a href="/#/login">Back to login</a>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>