﻿<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">External Login</h3>
            </div>
            <div class="panel-body">
                <form role="form" name="ExternalRegisterForm">
                    <fieldset>
                        
                        <div class="form-group">
                            <input class="form-control" placeholder="Email" name="email" type="email" ng-model="register.Email" ng-required="true">
                            <p ng-show="ExternalRegisterForm.email.$invalid && (ExternalRegisterForm.email.$dirty ||submitted)" class="danger">Please Enter Valid Email</p>
                        </div>
                        <a class="btn btn-md btn-info btn-block " ng-click="registerExternal()">Sign-Up</a>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>