﻿<div class="row">
    <!--<div class="col-md-6 col-md-offset-3">-->
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please Sign In</h3>
            </div>
            <div class="panel-body">
                <form role="form" name="loginForm">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Email" name="email" type="email" ng-model="email" ng-required="true">
                            <p ng-show="loginForm.email.$invalid && (loginForm.email.$dirty ||submitted)" class="danger">Please Enter Valid Email</p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" ng-model="Password" name="password" type="password" ng-required="true">
                            <p ng-show="loginForm.password.$invalid &&(loginForm.password.$dirty|| submitted)" class="danger">Please Enter Password</p>
                        </div>

                        <a class="btn btn-md btn-info btn-block " ng-click="Submit()">Login</a>

                        <a href="/#/register" class="textMargin">Register if you new user</a>

                    </fieldset>
                </form>
                <p class="danger">{{emailError}}</p>
                <!--<section id="socialLoginForm">
                    <div ng-if="loginProviders">
                        <h4>Use another service to log in.</h4>
                        <hr />
                        <div id="socialLoginList">
                            <p>
                                <span ng-repeat="loginProvider in loginProviders">
                                    <button class="btn" ng-class="addClass(loginProvider.Name)"
                                            id="{{ loginProvider.Name }}"
                                            name="provider"
                                            value="{{ loginProvider.Name }}"
                                            title="Log in using your {{ loginProvider.Name }} account"
                                            ng-click="externalLogin(loginProvider)">
                                        <i class="fa fa-{{ loginProvider.Name | lowercase }} fa-lg"></i>
                                        {{ loginProvider.Name }}
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                </section>-->
            </div>
        </div>
    </div>
</div>