﻿<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Register-User</h3>
            </div>
            <div class="panel-body">
                <form role="form" name="userForm" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" ng-model="registration.FirstName" placeholder="First-Name" name="FirstName" type="text" ng-required="true">
                            <p ng-show="userForm.FirstName.$invalid && (userForm.FirstName.$dirty || submitted)" class="help-block danger">Please Enter FirstName</p>

                        </div>
                        <div class="form-group">
                            <input class="form-control" ng-model="registration.LastName" placeholder="Last-Name" name="LastName" type="text" value="" ng-required="true">
                            <p ng-show="userForm.LastName.$invalid && (userForm.LastName.$dirty || submitted)" class="help-block danger">Please Enter LastName</p>

                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Email" name="email" type="email" ng-model="registration.email" ng-required="true">
                            <p ng-show="userForm.email.$invalid && (userForm.email.$dirty ||submitted)" class="danger">Please Enter Valid Email</p>
                        </div>

                        <i class="fa fa-refresh fa-spin" ng-show="loader"></i>
                        <a ng-show="button" class="btn btn-md btn-info btn-block " ng-click="signUp()">Submit</a>
                        <a href="/#/login" class="rtextMargin">Back to Login</a>

                    </fieldset>
                </form>
               <p class="danger">{{emailError}}</p>  
              <!--  <ul><li class="danger" ng-repeat="error in errors"> {{error}}</li></ul>-->  
            </div>
        </div> 
    </div>
</div>