﻿<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Enter Your Password</h3>
            </div>
            <div class="panel-body">
                <form role="form" name="userForm" novalidate>
                    <fieldset>                      
                        <div class="form-group">
                            <input class="form-control" id="password" placeholder="Password" name="password" type="password" ng-model="registration.NewPassword" value="" ng-required="true" ng-pattern="/(?=.*[a-z])(?=.*[0-9])(?=.*[A-Z])(?=.*[^a-zA-Z])(?=.*[!#*&$^])/" ng-minlength="6" ng-maxlength="10">
                            <p ng-show="userForm.password.$invalid &&(userForm.password.$dirty|| submitted)" class="danger">Please Enter Password</p>
                            <p ng-show="!userForm.password.$error.required && !userForm.password.$error.minlength && !userForm.password.$error.maxlength && userForm.password.$error.pattern && userForm.password.$dirty" class="help-block danger">Must contain one lower &amp; uppercase letter, a number and one non-alpha character (like !#$^&* )</p>
                            <p ng-show="!userForm.password.$error.required && (userForm.password.$error.minlength || userForm.password.$error.maxlength) && userForm.password.$dirty" class="help-block danger">Passwords must be between 6 and 10 characters</p>

                        </div>
                        <div class="form-group">
                            <input type="Password" name="passwordCompare" id="passwordCompare" class="form-control" ng-model="registration.ConfirmPassword" placeholder="Confirm Your Password" pw-check="password" ng-required="true" />
                            <p ng-show="userForm.passwordCompare.$invalid && (userForm.passwordCompare.$dirty || submitted)" class="danger">Confirm password is required.</p>
                            <p ng-show="userForm.passwordCompare.$error.pwmatch && userForm.passwordCompare.$dirty" class="danger">Confirm password doesnot match.</p>
                        </div>                       
                        <a class="btn btn-md btn-info btn-block " ng-click="submit()">Submit</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>